[user]
	name = username
	email = useremail
[alias]
	st = status
	co = checkout
	cm = commit
	ck = checkout
	lg = log --graph --oneline --decorate
	df = difftool
[color]
	ui = true
[receive]
	denyCurrentBranch = warn
[merge]
	tool = vimdiff
[mergetool]
	prompt = false
