Xft.antialias: true
Xft.autohint: 1
Xft.hinting: 1
Xft.hintstyle: hintfull

*inputMethod: ibus
!-*-{ Xft settings
Xft.dpi:       144
Xft*antialias: True
Xft*hinting:   Full
!!-*-}


!arc-match
#define arc_style_bg #252932
#define arc_style_fg #c8c8c8
#define arc_style_fade #121419
#define arc_cursor #2aa198
!Tango
#define Tango_color01 #2E3436
#define Tango_color02 #4E9A06
#define Tango_color03 #C4A000
#define Tango_color04 #3465A4
#define Tango_color05 #75507B
#define Tango_color06 #CE5C00
#define Tango_color07 #BABDB9
#define Tango_color08 #555753
#define Tango_color09 #EF2929
#define Tango_color10 #9AE234
#define Tango_color11 #FCE94F
#define Tango_color12 #729FCF
#define Tango_color13 #AD7FA8
#define Tango_color14 #FCAF3E
#define Tango_color15 #EEEEEC

!theme
!*background: arc_style_bg
!*foreground: arc_style_fg
!*fading: 40
!*fadeColor: arc_style_fade
!*cursorColor: arc_cursor

!*color0: Tango_color00
!*color1: Tango_color01
!*color2: Tango_color02
!*color3: Tango_color03
!*color4: Tango_color04
!*color5: Tango_color05
!*color6: Tango_color06
!*color7: Tango_color07
!*color9: Tango_color08
!*color8: Tango_color09
!*color10:Tango_color10
!*color11:Tango_color11
!*color12:Tango_color12
!*color13:Tango_color13
!*color14:Tango_color14
!*color15:Tango_color15

*background: #002b36
*foreground: #657b83
!!*fading: 40
*fadeColor: #002b36
*cursorColor: #93a1a1
*pointerColorBackground: #586e75
*pointerColorForeground: #93a1a1


!! black dark/light
*color0: #073642
*color8: #002b36

!! red dark/light
*color1: #dc322f
*color9: #cb4b16

!! green dark/light
*color2: #859900
*color10: #586e75

!! yellow dark/light
*color3: #b58900
*color11: #657b83

!! blue dark/light
*color4: #268bd2
*color12: #839496

!! magenta dark/light
*color5: #d33682
*color13: #6c71c4

!! cyan dark/light
*color6: #2aa198
*color14: #93a1a1

!! white dark/light
*color7: #eee8d5
*color15: #fdf6e3

!URxvt.termName: xterm-256color
URxvt.imLocale: en_US.utf8
URxvt.loginShell: True
URxvt.xftAntialias: true
URxvt.font: xft:Inconsolata:pixelsize=18:style=Light,Regular,xft:思源黑体 CN,Source Han Sans CN Light,Source Han Sans CN:style=Light,Regular
urxvt.letterSpace: -1
URxvt.depth: 32

URxvt.perl-ext-common: default,matcher,clipboard,url-select,clipboard
URxvt.url-launcher:   /usr/bin/chromium
URxvt.underlineURLs:  True
URxvt.matcher.button: 3
URxvt.saveLines: 5000
URxvt.keysym.C-Insert: perl:clipboard:copy
URxvt.keysym.S-Insert: perl:clipboard:paste
! input method
URxvt.inputMethod: ibus
URxvt.selection.pattern-0: ([^"&'()*,;<=>?@[\\\\]^`{|})]+)
URxvt.iso14755: true
URxvt.iso14755_52: true
URxvt.buffered: true
URxvt.lineSpace: 01-
URxvt.shading: 15
URxvt.intensityStyles: false
URxvt.scrollBar: false
