Xft.antialias: true
Xft.autohint: 1
Xft.hinting: 1
Xft.hintstyle: hintfull

*inputMethod: ibus
!-*-{ Xft settings
Xft.dpi:       102
Xft*antialias: True
Xft*hinting:   Full
!!-*-}


*background: #0f0f0f
*foreground: #c8c8c8

!Tango
! black
*color0:  #2E3436
*color8:  #555753
! red
*color1:  #a40000
*color9:  #EF2929
! green
*color2:  #4E9A06
*color10: #8AE234
! yellow
*color3:  #C4A000
*color11: #FCE94F
! blue
*color4:  #3465A4
*color12: #729FCF
! purple
*color5:  #75507B
*color13: #AD7FA8
! orange (replaces cyan)
*color6:  #ce5c00
*color14: #fcaf3e
! white
*color7:  #babdb9
*color15: #EEEEEC


URxvt.cursorColor: #6495ED
URxvt.imLocale: en_US.utf8
URxvt.loginShell: True
URxvt.xftAntialias: true
#URxvt.font: xft:Inziu IosevkaCC CL:pixelsize=13:antialias=true:autohint=true
urxvt.letterSpace: -1

URxvt.perl-ext-common: default,matcher,clipboard,url-select
URxvt.url-launcher:   /usr/bin/chromium
URxvt.underlineURLs:  True
URxvt.matcher.button: 3
URxvt.saveLines: 5000
URxvt.keysym.C-Insert: perl:clipboard:copy
URxvt.keysym.S-Insert: perl:clipboard:paste
! input method
URxvt.inputMethod: ibus
URxvt.selection.pattern-0: ([^"&'()*,;<=>?@[\\\\]^`{|})]+)
URxvt.iso14755: true
URxvt.iso14755_52: true
URxvt.buffered: true
URxvt.lineSpace:1
urxvt*transparent: true
urxvt*shading: 15
